<div *ngIf="auction" class="auction-details">

    <!-- Auction Image -->
    <div class="auction-image-wrapper">
        <img [src]="auction.imageSrc" alt="{{ auction.title }}" class="auction-image">
    </div>

    <!-- Auction Title -->
    <h1 class="auction-title">{{ auction.title }}</h1>

    <!-- Auction Description -->
    <p class="auction-description">{{ auction.description }}</p>

    <!-- Creator Info -->
    <div class="creator-info" *ngIf="createdByUser">
        <div class="creator-profile-pic-wrapper">
            <img [src]="createdByUser.profilePicUrl ? createdByUser.profilePicUrl : defaultProfilePicUrl" class="creator-profile-pic">
        </div>
        <div><strong> {{ createdByUser.firstName + ' ' + createdByUser.lastName }}</strong></div>
    </div>

    <!-- Auction Info -->
    <div class="auction-info">
        <div><strong>Type:</strong> {{ auction.type }}</div>
        <div *ngIf="(auctionService.timeLeft(auction.endDate) | async) as time">
          <strong>Time left:</strong> {{ time }}
        </div>
        <div><strong>Starting Price:</strong> $ {{ auction.startingPrice }}</div>
        <div *ngIf="auction.currentPrice"><strong>Current Price:</strong> $ {{ auction.currentPrice }}</div>
        <div *ngIf="auction.winningBidder"><strong>Winning Bidder:</strong> {{ auction.winningBidder }}</div>
    </div>

    <!-- Bid Input -->
    <div class="place-bid" *ngIf="auction?.createdBy !== currentUser?.userId">
        <h2>Place Your Bid:</h2>
        <div *ngIf="errorMessage" class="error-card">{{ errorMessage }}</div>
        <div class="input-group">
            <div class="price-wrapper">
                <span class="dollar-sign">$</span>
                <input type="number" class="price-input" [(ngModel)]="userBidAmount" placeholder="Enter bid amount" step="1" required>
            </div>
            <button (click)="placeBid()">Bid</button>
        </div>
    </div>

    <!-- Auction Bids -->
    <div class="auction-bids" *ngIf="auction && auction.bids && auction.bids.length; else noBids">
        <h2>Bids:</h2>
        <ul class="bids-list">
            <li *ngFor="let bid of auction.bids">
                
                <!-- Bid Details (Left) -->
                <div class="bid-details">
                    <div><strong>Amount:</strong> $ {{ bid.amount }}</div>
                    <div><strong>Time:</strong> {{ bid.timestamp.toDate() | date:'short' }}</div>
                </div>
    
                <!-- Bidder Info (Right) -->
                <div class="bid-user-info">
                    <div class="bid-profile-pic-wrapper">
                        <img [src]="bid.profilePicUrl ? bid.profilePicUrl : defaultProfilePicUrl" class="bid-profile-pic">
                    </div>
                    <div><strong>{{ bid.displayName }}</strong> </div>
                </div>
    
            </li>
        </ul>
    </div>
    <ng-template class="auction-bids" #noBids>
        <div>No bids for this auction yet.</div>
    </ng-template>   
 

</div>