<div *ngIf="auction" class="auction-details">

    <!-- Auction Image -->
    <div class="auction-image-wrapper">
        <img [src]="auction.imageSrc" alt="{{ auction.title }}" class="auction-image">
    </div>

    <!-- Auction Title -->
    <h1 class="auction-title">{{ auction.title }}</h1>

    <!-- Auction Description -->
    <p class="auction-description">{{ auction.description }}</p>

    <!-- Creator Info -->
    <div class="creator-info" *ngIf="createdByUser">
        <div class="creator-profile-pic-wrapper">
            <img [src]="createdByUser.profilePicUrl ? createdByUser.profilePicUrl : defaultProfilePicUrl" class="creator-profile-pic">
        </div>
        <div><strong> {{ createdByUser.firstName + ' ' + createdByUser.lastName }}</strong></div>
    </div>

    <!-- Auction Info -->
    <div class="auction-info">
        <div><strong>Type:</strong> {{ auction.type }}</div>
        <div *ngIf="(auctionService.timeLeft(auction.endDate) | async) as time">
          <strong>Time left:</strong> {{ time }}
        </div>
        <div><strong>Starting Price:</strong> $ {{ auction.startingPrice }}</div>
        <div *ngIf="auction.currentPrice"><strong>Current Price:</strong> $ {{ auction.currentPrice }}</div>
        <div *ngIf="auctionWon"><strong>Won by:</strong></div>
    </div>

    <!-- Winner Info -->
    <div class="creator-info" *ngIf="auctionWon">
        <div class="creator-profile-pic-wrapper">
            <img [src]="winingBidder?.profilePicUrl ? winingBidder?.profilePicUrl : defaultProfilePicUrl" class="creator-profile-pic">
        </div>
        <div><strong> {{ winingBidder?.firstName + ' ' + winingBidder?.lastName }}</strong></div>
    </div>

    <!-- Bid Input -->
    <div class="place-bid" *ngIf="auction?.createdBy !== currentUser?.userId && auction.isActive">
        <h2>Place Your Bid:</h2>
        <div *ngIf="errorMessage" class="error-card">{{ errorMessage }}</div>
        <div class="input-group">
            <div class="price-wrapper">
                <span class="dollar-sign">$</span>
                <input type="number" class="price-input" [(ngModel)]="userBidAmount" placeholder="Enter bid amount" step="1" required>
            </div>
            <button (click)="placeBid()">Bid</button>
        </div>
    </div>

    <!-- Chat Toggle Button -->
    <button class="place-bid" (click)="toggleChat()">Toggle Chat</button>

    <!-- Chat Section -->
    <div class="auction-bids" *ngIf="showChat">
        <h2>Chat:</h2>
        <!-- Chat Input -->
        <div class="chat-input" *ngIf="auction.isActive">
            <input type="text" class="chat-message-input" [(ngModel)]="userChatMessage" placeholder="Type your message here" />
            <button (click)="sendChatMessage()">Send</button>
        </div>
        <ul class="bids-list">
            <li *ngFor="let chat of auction.chats">
                <!-- User Info -->
                <div class="bid-user-info">
                    <div class="bid-profile-pic-wrapper">
                        <img [src]="chat.profilePicUrl ? chat.profilePicUrl : defaultProfilePicUrl" alt="{{ chat.displayName }}" class="bid-profile-pic">
                    </div>
                    <div><strong>{{ chat.displayName }}</strong></div>
                </div>
                <!-- Message Info -->
                <div class="bid-details">
                    <div>{{ chat.message }}</div>
                    <div>{{ chat.timestamp.toDate() | date:'short' }}</div>
                </div>
            </li>    
        </ul>
    </div>

    <!-- Auction Bids -->
    <div class="auction-bids" *ngIf="auction && auction.bids && auction.bids.length; else noBids">
        <h2>Bids:</h2>
        <ul class="bids-list">
            <li *ngFor="let bid of auction.bids">
                <!-- Bidder Info (Left) -->
                <div class="bid-user-info">
                    <div class="bid-profile-pic-wrapper">
                        <img [src]="bid.profilePicUrl ? bid.profilePicUrl : defaultProfilePicUrl" class="bid-profile-pic">
                    </div>
                    <div><strong>{{ bid.displayName }}</strong> </div>
                </div>
                <!-- Bid Details (Right) -->
                <div class="bid-details">
                    <div><strong> $ {{ bid.amount }} </strong></div>
                    <div><strong> {{ bid.timestamp.toDate() | date:'short' }}</strong></div>
                </div>
            </li>
        </ul>
    </div>
    <ng-template class="auction-bids" #noBids>
        <div><br>No bids for this auction yet.</div>
    </ng-template>   
 

</div>