<div class="login-container">
    <div *ngIf="errorMessage" class="error-card">
        <p>{{ errorMessage }}</p>
    </div>
    <div class="login-card">
        <img src="assets/images/logo.png" alt="Logo" class="logo">
        <h2>{{ isLoginMode ? 'Login' : 'Register' }}</h2>

        <div class="email-login">
            <input [(ngModel)]="name" *ngIf="!isLoginMode" type="text" placeholder="Name">
            <input [(ngModel)]="email" type="email" placeholder="Email">
            <input [(ngModel)]="password" type="password" placeholder="Password">
            <button class="primary-button" (click)="isLoginMode ? loginWithEmail() : registerWithEmail()">
                {{ isLoginMode ? 'Login' : 'Register' }}
            </button>
            <button class="secondary-button" (click)="toggleMode()">{{ isLoginMode ? 'New user? Register' : 'Have an account? Login' }}</button>
        </div>
    </div>
</div>