<div class="filters-row">
    <img src="assets/images/logo-text.png" alt="Logo" class="logo-text">
    <input class="search-input" [(ngModel)]="auctionService.searchText" placeholder="Search" (keyup)="auctionService.searchAuctions()">
    <button class="add-auction-button" (click)="toggleForm()">
        {{ isFormVisible ? 'Close' : '+ Add New Auction' }}
    </button>
</div>

<div *ngIf="isFormVisible" class="form-container">
    <form [formGroup]="auctionForm" (ngSubmit)="onSubmit()">
        <label>
            Title:
            <input formControlName="title">
            <div *ngIf="isFieldInvalid('title', 'required')" class="error-text">Title is required.</div>          
        </label>
        <label>
            Description:
            <textarea formControlName="description"></textarea>
            <div *ngIf="isFieldInvalid('description', 'required')" class="error-text">Description is required.</div>
        </label>
        <label>
            Type:
            <select formControlName="type">
                <option *ngFor="let filter of (auctionService.filters | async)" [value]="filter" [hidden]="filter === 'All'">{{filter}}</option>
            </select>
            <div *ngIf="isFieldInvalid('type', 'required')" class="error-text">Type is required.</div>
        </label>
        <label>
            End Date:
            <input type="datetime-local" formControlName="endDate">
            <div *ngIf="isFieldInvalid('endDate', 'required')" class="error-text">End Date is required.</div>
            <div *ngIf="isFieldInvalid('endDate', 'invalidEndDate')" class="error-text">End Date should be at least 24 hours from now.</div>
        </label>        
        <label>
            Starting Price:
            <div class="price-wrapper">
                <span class="dollar-sign">$</span>
                <input class="price-input" formControlName="startingPrice" type="number">
            </div>
            <div *ngIf="isFieldInvalid('startingPrice', 'required')" class="error-text">Starting Price is required.</div>
            <div *ngIf="isFieldInvalid('startingPrice', 'invalidStartingPrice')" class="error-text">Starting Price must be greater than 0.</div>
        </label>        
        <label>
            Upload Image:
            <input type="file" (change)="onImageUpload($event)" accept="image/*">
            <div *ngIf="isFieldInvalid('imageSrc', 'required')" class="error-text">Image is required.</div>
            <div *ngIf="isFieldInvalid('imageFile', 'invalidFileType')" class="error-text">Invalid file type. Please upload an image.</div>
        </label>
        <button type="submit">Submit</button>
    </form>
</div>

<div class="auctions-list">
    <div *ngFor="let auction of myAuctions" class="auction-item">
        <img [src]="auction.imageSrc" alt="{{ auction.title }}">
        <div class="auction-info">
            <div class="info-text">
                <h3>{{ auction.title }}</h3>
                <span *ngIf="(auctionService.timeLeft(auction.endDate) | async) as time">{{ time }}</span>
            </div>
            <div class="info-price-bid">
                <strong>$ {{ auction.currentPrice }}</strong>
                <button class="bid-button">Bid now</button>
            </div>
        </div>            
    </div>
</div>