.filters-row {
    display: flex;
    flex-wrap: wrap; // allows elements to wrap on smaller screens
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .search-input {
        width: 100%;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 15px;  // Added space below search on mobile

        @media (min-width: 769px) { // non-mobile
            width: 500px;
        }
    }

    .filter-buttons {
        width: 100%; // full width on mobile
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        button {
            flex: 1; // distribute space among buttons on mobile
            padding: 6px 8px; // slightly reduce padding for mobile
            border: none;
            border-radius: 16px;
            background-color: white;
            cursor: pointer;
            transition: background-color 0.3s;

            &.active {
                background-color: #FF4747;
                color: white;
            }

            &:hover {
                background-color: darken(#FF4747, 10%);
            }

            @media (min-width: 769px) { // non-mobile
                flex: initial; // reset flex
                padding: 8px 12px; // reset padding
            }
        }
    }
}