<div class="filters-row">
    <img src="assets/images/logo-text.png" alt="Logo" class="logo-text">
    <input class="search-input" [(ngModel)]="auctionService.searchText" placeholder="Search" (keyup)="auctionService.searchAuctions()">
    <div class="filter-buttons">
        <button *ngFor="let filter of auctionService.filters | async" [ngClass]="{ 'active': filter === auctionService.selectedFilter }" (click)="auctionService.selectFilter(filter)">
            {{ filter }}
        </button>
    </div>
</div>

<div class="auctions-list">
    <div *ngFor="let auction of auctions" class="auction-item">
        <img [src]="auction.imageSrc" alt="{{ auction.title }}">
        <div class="auction-info">
            <div class="info-text">
                <h3>{{ auction.title }}</h3>
                <span *ngIf="(auctionService.timeLeft(auction.endDate) | async) as time">{{ time }}</span>
            </div>
            <div class="info-price-bid">
                <strong>$ {{ auction.currentPrice }}</strong>
                <button class="bid-button">Bid now</button>
            </div>
        </div>            
    </div>
</div>